In [1]:
import pandas as pd
import numpy as np

# Q1 - What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.0.3'

**Getting the dataset**

In [3]:
dataset = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')
df = dataset.copy()

# Q2 - How many columns are in the dataset?

In [5]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [4]:
df.columns.shape[0]

10

# Q3 - Which columns in the dataset have missing values?

In [6]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

# Q4 - How many unique values does the ocean_proximity column have?

In [7]:
df.ocean_proximity.nunique()

5

# Q5 - What's the average value of the median_house_value for the houses located near the bay?

In [9]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [10]:
round(df[df.ocean_proximity == 'NEAR BAY'].median_house_value.mean())

259212

# Q6 - Has the mean value changed after filling missing values?

In [11]:
# Before fillna
print(round(df.total_bedrooms.mean(), 3))

537.871

In [12]:
df['total_bedrooms'].fillna(df['total_bedrooms'].mean(), inplace=True)

In [13]:
# After fillna
print(round(df.total_bedrooms.mean(), 3))

537.871

# Q - 7 Value of the last element of w*

In [14]:
X = df[df.ocean_proximity == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']].to_numpy()

In [15]:
XTX = X.T.dot(X)

In [16]:
XTX_inv = np.linalg.inv(XTX)

In [17]:
y = np.array([950, 1300, 800, 1000, 1300])

In [18]:
w = XTX_inv.dot(X.T).dot(y)

In [19]:
w[-1]

5.699229455065578